footer {
  background: #1c1e53;
  padding-top: 70px;
  padding-bottom: 92px;

  .talk-row {
    .talk-left {
      margin-top: 26px;

      p {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        max-width: 399px;
        color: #ffffff;
        margin-top: 27px;
        opacity: 0.8;
      }

      .box {
        margin-top: 86px;
        max-width: 517px;
        padding: 18px 0 16px 37px;
        background: #fcd980;
        

        .email {
          h4 {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            margin-bottom: 2px;
            color: #282938;
          }

          a {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #282938;

            opacity: 0.8;
          }
        }

        .tel {
          h4 {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            margin-bottom: 2px;
            color: #282938;
          }

          a {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #282938;

            opacity: 0.8;
          }
        }
      }
    }

    .talk-right {
      margin-top: 28px;
      h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;

        color: #ffffff;
      }
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        max-width: 400px;

        color: #f4f6fc;

        opacity: 0.8;
      }

      ul {
        display: flex;
        justify-content: flex-start;
        li a {
          margin: 13px;
          i {
            color: white;
          }
        }
      }
    }
  }
}

@media (min-width: 710px) {
    .talk-row{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 143px;
    }

    .box{
      display: flex;
      gap: 30px;
    }
}
