* {
  margin: 0;
  padding: 0;
  transition: all 0.5s ease;
  font-family: "popins", sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

img {
  max-block-size: 100%;
}

input:focus {
  outline: none;
}

::-moz-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:where(:not(html, iframe, canvas, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

@font-face {
  font-family: "popins";
  src: url("../../fonts/Poppins-Regular.ttf");
}
.nav-left-right {
  display: flex;
  justify-content: space-between;
}

nav {
  z-index: 10;
}

.navbar {
  position: fixed;
  width: 100%;
}

.navbar-collapse {
  flex-grow: 0;
  align-items: center;
  background-color: #1c1e53;
}

.navbar-toggler {
  padding: 0 5px;
}

.collapse .btn-outline-success {
  margin: 10px !important;
}

.bg-body-tertiary {
  background: #1c1e53 !important;
}

.nav-link {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #bbbbcb;
  margin: 10px 10px;
}
.nav-link:hover {
  color: #fff;
}

.btn-outline-success {
  --bs-btn-active-bg: none;
  --bs-btn-active-border-color: none;
  width: 170px;
  height: 44px;
  border: 1px solid #bbbbcb;
  color: #bbbbcb;
  margin-top: 10px;
  padding: 0 30px;
  border-radius: 40px;
}
.btn-outline-success:hover {
  background: #535460;
  border: 1px solid #bbbbcb;
  color: #fff;
}

.navbar-toggler {
  color: #bbbbcb;
  background-color: #bbbbcb;
  border: 1px solid #bbbbcb;
  border-radius: 0.375rem;
  transition: box-shadow 0.15s ease-in-out;
}

.collapse .btn-outline-success {
  margin: auto;
}

header {
  background: #1c1e53;
}
header #home .home-row {
  padding-bottom: 128px;
}
header #home .home-row .home-left {
  padding-top: 126px;
}
header #home .home-row .home-left h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 74px;
  max-width: 582px;
  color: #ffffff;
}
header #home .home-row .home-left p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  max-width: 562px;
  color: #ffffff;
  margin-top: 24px;
  opacity: 0.7;
}
header #home .home-row .home-left .btn {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
header #home .home-row .home-left .btn button {
  padding: 16px 56px;
  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  border-radius: 41px;
  transition: 0.5s;
}
header #home .home-row .home-left .btn button:hover {
  border: 1px solid #fcd980;
  background: #fcd980;
  color: #1b1c2b;
  transform: scale(1.05);
}
header #home .home-row .home-right img {
  padding-top: 49px;
  max-width: 638px;
  width: 100%;
  transition: 0.5s;
}
header #home .home-row .home-right img:hover {
  transform: scale(1.1);
}

#project .project-row {
  padding-top: 57px;
  padding-bottom: 128px;
}
#project .project-row .project-top {
  margin-bottom: 50px;
}
#project .project-row .project-top h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  max-width: 468px;
  color: #282938;
}
#project .project-row .project-top a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
}
#project .project-row .content-left {
  margin-top: 14px;
  background-image: url(../../images/home/project.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.5s;
}
#project .project-row .content-left:hover .content-hover {
  opacity: 1;
  transition: 0.5s;
  background: linear-gradient(329.39deg, #1c1e53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
}
#project .project-row .content-left .content-hover {
  max-width: 396px;
  opacity: 0;
  padding: 312px 35px 79px 48px;
}
#project .project-row .content-left .content-hover h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  max-width: 313px;
  color: #ffffff;
}
#project .project-row .content-left .content-hover p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  max-width: 283px;
  margin-top: 16px;
  color: #ffffff;
  opacity: 0.8;
}
#project .project-row .content-left .content-hover a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  margin-top: 40px;
  color: #fcd980;
}
#project .project-row .content-right {
  margin-top: 14px;
}
#project .project-row .content-right .right-top {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../../images/home/pro-rght.png);
}
#project .project-row .content-right .right-top .top-content {
  transition: 0.5s;
  opacity: 0;
  cursor: pointer;
  padding: 129px 36px 45px 56px;
}
#project .project-row .content-right .right-top .top-content:hover {
  opacity: 1;
  transition: 0.5s !important;
  background: linear-gradient(329.39deg, #1c1e53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
}
#project .project-row .content-right .right-top .top-content h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  max-width: 312px;
  color: #ffffff;
}
#project .project-row .content-right .right-top .top-content a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  margin-top: 40px;
  color: #fcd980;
}
#project .project-row .content-right .right-end {
  margin-top: 32px;
}
#project .project-row .content-right .right-end img {
  width: 100%;
}

@media (min-width: 700px) {
  .project-content {
    display: flex;
    gap: 32px;
  }
  .project-content .content-left {
    flex-grow: 1;
  }
}
@media (min-width: 900px) {
  .home-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
  }
  .home-row .home-left h1 {
    font-size: 54px !important;
  }
  .home-row .home-right {
    padding-top: 100px;
  }
  .project-row .project-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
footer {
  background: #1c1e53;
  padding-top: 70px;
  padding-bottom: 92px;
}
footer .talk-row .talk-left {
  margin-top: 26px;
}
footer .talk-row .talk-left p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  max-width: 399px;
  color: #ffffff;
  margin-top: 27px;
  opacity: 0.8;
}
footer .talk-row .talk-left .box {
  margin-top: 86px;
  max-width: 517px;
  padding: 18px 0 16px 37px;
  background: #fcd980;
}
footer .talk-row .talk-left .box .email h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 2px;
  color: #282938;
}
footer .talk-row .talk-left .box .email a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.8;
}
footer .talk-row .talk-left .box .tel h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 2px;
  color: #282938;
}
footer .talk-row .talk-left .box .tel a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.8;
}
footer .talk-row .talk-right {
  margin-top: 28px;
}
footer .talk-row .talk-right h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #ffffff;
}
footer .talk-row .talk-right p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  max-width: 400px;
  color: #f4f6fc;
  opacity: 0.8;
}
footer .talk-row .talk-right ul {
  display: flex;
  justify-content: flex-start;
}
footer .talk-row .talk-right ul li a {
  margin: 13px;
}
footer .talk-row .talk-right ul li a i {
  color: white;
}

@media (min-width: 710px) {
  .talk-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 143px;
  }
  .box {
    display: flex;
    gap: 30px;
  }
}
.containe {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

#solve .solve-row {
  padding-bottom: 127px;
}
#solve .solve-row .solve-left {
  padding-top: 22px;
}
#solve .solve-row .solve-left a {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #282938;
}
#solve .solve-row .solve-left h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 74px;
  max-width: 595px;
  margin-top: 8px;
  color: #282938;
}
#solve .solve-row .solve-left p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  max-width: 484px;
  margin-top: 31px;
  color: #282938;
  opacity: 0.7;
}
#solve .solve-row .solve-right {
  padding-top: 18px;
}
#solve .solve-row .solve-right img {
  max-width: 640px;
  width: 100%;
}

#foccused {
  padding-bottom: 128px;
}
#foccused .foccused-top {
  background: #f4f5f5;
  padding: 96px 109px 96px 80px;
}
#foccused .foccused-top .foccused-left h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  color: #282938;
}
#foccused .foccused-top .foccused-left p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  max-width: 515px;
  margin-top: 16px;
  color: #282938;
  opacity: 0.7;
}
#foccused .foccused-top .foccused-right h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  color: #282938;
}
#foccused .foccused-top .foccused-right p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  max-width: 515px;
  margin-top: 16px;
  color: #282938;
  opacity: 0.7;
}
#foccused .foccused-end img {
  width: 100%;
}

#meet {
  background: #f4f6fc;
  padding-top: 128px;
}
#meet .meet-row .meet-top h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  /* Dark blue */
  color: #282938;
}
#meet .meet-row .meet-content {
  padding-top: 41px;
  padding-bottom: 110px;
}
#meet .meet-row .meet-content .meet-card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  padding: 48px 44px 32px 44px;
  margin-bottom: 18px;
  overflow: hidden;
  transition: 1s;
}
#meet .meet-row .meet-content .meet-card:hover .meet-hover {
  transition: 0.6s;
  width: 168px;
  height: 168px;
}
#meet .meet-row .meet-content .meet-card .meet-hover {
  position: absolute;
  bottom: 95px;
  border-radius: 50%;
  width: 0px;
  height: 0px;
  background: linear-gradient(348.37deg, #5239fa 17.97%, rgba(255, 255, 255, 0) 79.2%);
}
#meet .meet-row .meet-content .meet-card .meet-hover a {
  position: relative;
  color: white;
  top: 110px;
  left: 50px;
}
#meet .meet-row .meet-content .meet-card img {
  max-width: 168px;
  width: 100%;
}
#meet .meet-row .meet-content .meet-card h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #1d2130;
}
#meet .meet-row .meet-content .meet-card span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #1d2130;
  opacity: 0.7;
}

@media (min-width: 650px) {
  .meet-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
  }
}
@media (min-width: 700px) {
  .solve-row {
    display: flex;
    justify-content: space-between;
    gap: 47px;
  }
  .solve-row .solve-left {
    margin-top: 130px;
  }
  .solve-row .solve-right {
    margin-top: 110px;
  }
}
@media (min-width: 800px) {
  .foccused-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
  }
}
@media (min-width: 900px) {
  .meet-content {
    grid-template-columns: repeat(4, 1fr);
  }
}